
.place {
    margin-top:10px;
    height: 400px;
    
}

img {
    border-radius: 35px;
}


h1 {
    padding: 20px;
    text-align: center;
}

h2 {
     padding-left: 10px;
 }

 

@media print {
     .screen-only{
         display: none;
     }
 }

@media (min-width: 500px) {
    h4::before {
        content: "Click on the images to go to page";
    }
}

@media (max-width: 600px) {
    h4::before {
        visibility: hidden;
    }
}
